# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT


config SHIELD_Alice_XRyue60_LEFT
    def_bool $(shields_list_contains,Alice_XRyue60_left)

config SHIELD_Alice_XRyue60_RIGHT
    def_bool $(shields_list_contains,Alice_XRyue60_right)