# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT


config SHIELD_Alice.XRyue60_LEFT
    def_bool $(shields_list_contains,Alice.XRyue60_left)

config SHIELD_Alice.XRyue60_RIGHT
    def_bool $(shields_list_contains,Alice.XRyue60_right)